<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pyy.ihrm.system.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="com.pyy.ihrm.system.model.User">
	<id column="ID" jdbcType="VARCHAR" property="id" />
	<result column="work_number" jdbcType="VARCHAR" property="workNumber" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
	<result column="department_id" jdbcType="VARCHAR" property="departmentId" />
	<result column="username" jdbcType="VARCHAR" property="username" />
	<result column="password" jdbcType="VARCHAR" property="password" />
	<result column="mobile" jdbcType="VARCHAR" property="mobile" />
	<result column="time_of_entry" jdbcType="TIMESTAMP" property="timeOfEntry" />
	<result column="form_of_employment" jdbcType="VARCHAR" property="formOfEmployment" />
	<result column="form_of_management" jdbcType="VARCHAR" property="formOfManagement" />
	<result column="working_city" jdbcType="VARCHAR" property="workingCity" />
	<result column="correction_time" jdbcType="TIMESTAMP" property="correctionTime" />
	<result column="in_service_status" jdbcType="VARCHAR" property="inServiceStatus" />
	<result column="enable_state" jdbcType="VARCHAR" property="enableState" />
	<result column="create_id" jdbcType="VARCHAR" property="createId" />
	<result column="create_name" jdbcType="VARCHAR" property="createName" />
	<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
	<result column="update_id" jdbcType="VARCHAR" property="updateId" />
	<result column="update_name" jdbcType="VARCHAR" property="updateName" />
	<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	<result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>

  <sql id="Base_Column_List">
      a.ID,
      a.work_number,
      a.company_id,
      a.department_id,
      a.username,
      a.password,
      a.mobile,
      a.time_of_entry,
      a.form_of_employment,
      a.form_of_management,
      a.working_city,
      a.correction_time,
      a.in_service_status,
      a.enable_state,
      a.create_id,
      a.create_name,
      a.create_time,
      a.update_id,
      a.update_name,
      a.update_time,
      a.is_deleted
  </sql>


  <select id="selectByPageAndParam" parameterType="com.pyy.ihrm.domain.system.vo.UserQueryConditionVO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user a
    where
       a.is_deleted = 0
       <if test="username != null">
        and a.username like '%'||#{username}||'%'
       </if>
       <if test="inServiceStatus != null">
          and a.in_service_status = #{inServiceStatus}
       </if>
       <if test="enableState != null">
          and a.enable_state = #{enableState}
       </if>
       <if test="departmentId != null">
          and a.department_id = #{departmentId}
       </if>
       <if test="companyId != null">
          and a.company_id = #{companyId}
       </if>
  </select>
  
</mapper>